@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
html {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

body .main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 18%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

body .main #content #image {
  border-radius: 50%;
}
body .main #content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 24px;
    max-height: 240px;
    height: 100%;
    position: relative;
    text-align: center;
    top: 33%;
}

body .main #content .title {
    color: white;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

body .main #content .title span {
    font-size: 1.5rem;
    line-height: 70px;
}

body .main #content p {
    color: #e6dbae;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    line-height: 20px;
}

.my-things {
  line-height: 40px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  border-top: 1px solid;
  border-top-color: white;
}

body .main #content p:last-child {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 3em auto;
    padding: 0;
    letter-spacing: 0.1rem;
}

.link {
  font-family: "Quicksand", sans-serif;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
  letter-spacing: 0.3rem;
  bottom: 0;
}

.link:hover {
  color: inherit;
}

#copyrights {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #e6dbae;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    line-height: 40px;
}

#copyrights a {
  text-decoration: none;
  color: inherit;
}

#copyrights a:hover {
  color: white;
  transition: all 0.2s ease-in;
}

#copyrights span {
  color: red;
}
